*{
    margin: 0;
    padding: 0;
}
body{
    background: url('https://i.pinimg.com/1200x/a6/bd/4d/a6bd4db7ee7053689bd971b36cbcd1ef.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 80vh;
    width: 80vw;
    background-color: transparent;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;
}
.image-left{
        background-color: rgb(200, 255, 0);
    height: 100%;
    width: 50%;
}
.login-page{
    background-color: red;
    height: 100%;
    width: 50%;
}