* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #e7e7e7;
  width: 100%;
  color: #333;
  overflow-x: hidden;
}

/* -----------Navbar--------------- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo span {
  color: #007bff;
}
nav a{
  font-size: 20px;
  color: blue;
}

/* ---------Project Container & Cards---------- */
.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 30px 10px;
}

/* CARD */
.card {
  width: 300px;
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 40px rgba(66, 66, 66, 0.15);
}

/* TITLE */
.card h3 {
  font-size: 20px;
  margin-bottom: 6px;
}

/* DESCRIPTION */
.card p {
  font-size: 14px;
  color: #555;
  margin-bottom: 14px;
}

/* TAGS */
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 16px;
}

.tags span {
  background: #cfeeff;
  color: #333;
  font-size: 12px;
  padding: 6px 12px;
  border-radius: 20px;
}

/* EXPLORE */
.explore {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  color: #111;
}

.explore span {
  margin-top: 5px;
  background: #fff;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.title {
  background-color: #9ed8f1;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* FOOTER */
footer {
  background-color: white;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
  position: fixed;
  bottom: 0;
}

footer p {
  font-size: 16px;
  font-weight: bold;
}

/* -----------------RESPONSIVE----------------- */
@media screen and (max-width: 1024px) {
  .navbar {
    padding: 15px 5%;
  }
  .card {
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
  .project-container {
    padding: 20px 5px;
  }
  .logo {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 5%;
  }
  .logo {
    margin-bottom: 10px;
  }
  .card {
    padding: 15px;
  }
  .card h3 {
    font-size: 18px;
  }
  .card p {
    font-size: 13px;
  }
  .tags span {
    font-size: 11px;
    padding: 5px 10px;
  }
}
