* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}
body {
  background-color: #f4f7f6;
  color: #333;
  overflow-x: hidden;
}

/* -----------Navbar--------------- */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.logo {
  font-size: 24px;
  font-weight: bold;
}
.logo span {
  color: #007bff;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}
nav p{
    font-size: 18px;
    font-weight: bold;
}
.nav-links a {
  text-decoration: none;
  color: #201cfa;
  font-size: 20px;
  font-weight: bold;
  position: relative;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: #38bdf8;
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

section{
    height: 80vh;
}
.js-projects{
  display: flex;
  flex-wrap: wrap;          /* IMPORTANT */
  min-height: auto;         /* height remove */
  width: 100%;
  background-color: #ffffff;
  justify-content: center;
  gap: 20px;                /* spacing */
  padding: 20px;
}

.js-card{
 height: 250px;
  width: 250px;
  max-width: 90%;           /* mobile safe */
  background-color: rgb(230, 228, 228);
  text-align: left;
  padding-left: 10px;
  border-radius: 5px;
  transition: 0.3s;
}
.js-card:hover{
  transform: scale(1.05);
}
.js-card-title{
  background-color: #02e1ff;
  width: 95%;
  height: 80%;
  margin-top: 10px;
  padding-left: 10px;
    border-radius: 5px;
}
.js-card a{
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.js-card-foot{
  height: 30px;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  align-items: center;
}
.js-card-foot i{
  font-size: 20px;
}
.heading{
   background-color: #ffffff;
 padding-left: 40px;
  font-weight: bold;
  font-size: 30px;
}

@media (max-width: 600px){
  .js-card{
    width: 100%;
  }

  .heading{
    font-size: 22px;
    padding-left: 15px;
  }
}

footer {
  background-color: white;
  height: 8vh;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
}
footer p {
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
}