*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #000;
  color: #fff;
}
 
nav{
  height: 10vh;
  background: #fff;
  display: flex;
  align-items: center;
  padding: 0 20px;
  display: flex;
}
nav p{
    color: red;
  font-size: 30px;
  font-weight: bold;
  padding-left: 60px;
}

nav button{
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
  display: none;
}

 
section{
  height: 90vh;
}

 
.slide-menu{
  position: fixed;
  top: 10vh;
  left: 0;                 
  width: 250px;
  height: 90vh;
  background: orangered;
  padding: 20px;
  transition: left 0.3s ease;
}

.slide-menu ul{
  list-style: none;
}

.slide-menu li{
  margin: 15px 0;
  cursor: pointer;
}
.root{
  margin-left: 250px;       
  padding: 20px;
}

 
@media (max-width: 480px){

 
  .slide-menu{
    left: -100%;
    width: 100%;
  }
 
  .slide-menu.active{
    left: 0;
  }

  
  .root{
    margin-left: 0;
  }
  nav button{
    display: block;
  }
}
