body{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
 .group{
    align-items: center;
    display: flex;
    gap: 30px;
 }
button{
    height: 60px;
    width: 120px;
    border-radius: 5px;
    border: none;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
}
#minusbtn{
    background-color: green;
}
.counter{
    font-size: 50px;
}