* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.welcome-page {
  display: block;
  padding: 20px;
  height: 70%;
  width: 70%;
  border-radius: 20px;
  box-shadow: 5px 10px 30px 12px black;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}
.welcome-page .tittle {
  padding: 20px;
  height: auto;
  text-align: center;
}
.tittle h1 {
  font-size: 80px;
  color: white;
  font-family: "Lobster Two";
}
.tittle p {
  font-family: "Dancing Script";
  font-size: 30px;
  font-weight: 500;
}
.tittle button {
  margin-top: 20px;
  color: white;
  height: 50px;
  width: 200px;
  border: none;
  cursor: pointer;
  background: linear-gradient(120deg, rgb(255, 187, 0), rgb(0, 204, 255));
}
.tittle button:hover {
  background: linear-gradient(120deg, rgb(255, 197, 37), rgb(0, 255, 234));
}
.game-page {
  display: none;
  padding: 20px;
  height: 70%;
  width: 70%;
  border-radius: 20px;
  box-shadow: 5px 10px 30px 12px black;
  border: 2px solid purple;
  justify-content: center;
}
